 /* body full screen */
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/* background slide image */
.background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.background-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* current image active */
.background-slider img.active {
    opacity: 1;
}

/* login container center overlay */
.login-container {
    position: relative;
    color: white;
    z-index: 1; 
          background-color: rgba(16,25,34,0.85); /* semi-transparent */
           box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    
    
}

/* logo */
.logo span {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

.logo h2 {
    font-size: 18px;
    color: #b0b0b0;
    margin: 0;
}

/* form input group */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #ccc;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #555;
    background-color: #1a1f2b;
    color: white;
}

/* hover/focus effect */
.input-group input:hover, .input-group input:focus {
    border-color: #137fec;
    outline: none;
}

/* login button */
.login-btn {
    width: 100%;
    padding: 12px;   
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #137fec;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    transform: translateY(-2px);
    background-color: #0f6ddc;
    
}

/* register link */
.register-link {
    margin-top: 15px;
     color: #ccc;
    font-size: 12px;
   
}

.register-link a {
    color: #137fec;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
