/* body full screen */
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #101922;
}

/*------ background slide image----- */
.background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

/*---- image background set fill screen---- */
.background-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: translateX(100%); /*-- iamge slide strat Right side */
    transition: opacity 1s ease-in-out, transform 3s ease-in-out;
}

/* image slide venter of screen ----- */
.background-slider img.active {
    opacity: 1;
    transform: translateX(0); /* move to center */
}

/* image slide center to left side * */
.background-slider img.previous {
    opacity: 0;
    transform: translateX(-100%);
}

/* main register dive box  */
.register-container {
    position: relative;
    z-index: 1;
    background-color: rgba(16,25,34,0.85); /* opacity  */
    padding: 40px;
    border-radius: 20px;
    width: 380px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* icon*/
.logo span {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

.logo h2 {
    font-size: 18px;
    color: #b0b0b0;
    margin: 0;
}

/* form input textbox and dive box  */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #ccc;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #555;
    background-color: #1a1f2b;
    color: white;
}

.input-group input:hover,
.input-group input:focus {
    border-color: #137fec;
    outline: none;
}

/* checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

/* register button */
.register-btn {
    width: 100%;
    padding: 12px;
    background-color: #137fec;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.register-btn:hover {
    background-color: #0f6ddc;
    transform: translateY(-2px);
}

/* login link */
.login-link {
    margin-top: 15px;
    font-size: 12px;
    color: #ccc;
}

.login-link a {
    color: #137fec;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
