 .label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 6px;
}

.input-icon {
    position: relative;
}

.input-icon span {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 20px;
}

.input-icon input,
.input-icon select {
    width: 100%;
    height: 48px;
    padding-left: 40px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    outline: none;
}

.input-icon input:focus,
.input-icon select:focus,
textarea:focus {
    border-color: #0d59f2;
    box-shadow: 0 0 0 2px rgba(13, 89, 242, 0.2);
}

textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    padding: 12px;
    resize: none;
}

.btn-primary {
   
    background-color: #0d59f2;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
     display: inline-flex;
    align-items: center;
    gap: 9px;
    padding: 11px 23px;
}

.btn-primary:hover {
    background-color: #0b4ecf;
}

.btn-outline {
    display: inline-flex;   
    gap: 9px;
    padding: 11px 23px;
    background: transparent;
    border: 1px solid #125cf0;
    color: #0d59f2;
    border-radius: 9px;
    cursor: pointer;
    align-items: center;
}

.btn-outline:hover {
    background-color: rgba(13, 89, 242, 0.08);
}
